<div class="footer">
    <div class="logo-container">
        <a class="logo" >
            <img src="../../assets/images/companylogo.png">
        </a>
        <a class="company-name" >HAFNIUM <br> SYSTEM</a>
    </div>
    <div class="menu">
      <div class="Menu">Menu</div>
      <div class="links">
        <a href="/">Home</a>
        <a href="#service">Services</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
      </div>
    </div>
    
    <div class="info">
        <div class="Services">Services</div>
        <div class="services">
            <span>Custom Application Development</span>
            <span>Web Application Development</span>
            <span>Cloud Computing</span>
            <span>DevOps Automation</span>
            <span>Software Prototyping</span>
        </div>
 
    </div>
    <div class="additional-info">
        <div class="additional-services">
        <span>Quality Assurance</span>
        <span>System Integration</span>
      </div>
    </div>

    <div class="contact-info">
      <div class="Contact">Contact</div>
  
      <div class="contact-1">
        <a class="contact-logo">
          <img src="../../assets/images/telephone_call_1.png">
        </a>
        <div class="Contacts">
          <span>123456789</span>
        </div>
      </div>
  
      <div class="contact-2">
        <a class="contact-logo">
          <img src="../../assets/images/world_1.png">
        </a>
        <div class="Contacts">
          <span>www.example.com</span>
        </div>
      </div>

      <div class="contact-3">
        <a class="contact-logo">
          <img src="../../assets/images/location_1.png">
        </a>
        <div class="Contacts">
          <span>location</span>
        </div>
      </div>
    </div>


  </div>


  