$font-family: 'HelveticaWorld', sans-serif;
$secondary-font-family: 'Arial Unicode MS', sans-serif;
$upper-color: rgba(255, 255, 255, 0.8);
$lower-color: rgba(48, 140, 206, 0.5);

.header {
  width: 100%;
  height: 400px;
  background-image: url('../../assets/images/about.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;

  h1 {
    padding-left: 65px;
    margin-top: 160px;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 10px;
    font-family: $font-family;
  }

  p {
    padding-left: 75px;
    padding-top: 10px;
    font-size: 25px;
    margin-top: 0;
    max-width: 55%;
    font-family: $font-family;
  }
}

.container-2 {
  position: relative;
  display: flex;
  padding-top: 40px;
  padding-left: 100px;

  .image {
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    

    img {
      height: 500px;
      width: 500px;
      object-fit: cover;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/Untitled\ design\ \(5\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    opacity: 0.25;
    z-index: -1;
  }

  .content {
    display: block;
    padding-left: 60px;
    color: #040404;
    margin-right: 5%;
    

    h2 {
      font-weight: bold;
      font-size: 55px;
      margin-bottom: 20px;
      text-align: left;
      font-family: $font-family;
    }

    p {
      max-width: 500px;
      font-size: 20px;
      margin-bottom: 50px;
      text-align: justify;
      font-family: $secondary-font-family;
    }
  }
}

.bottom-text {
  display: flex;
  padding-left: 250px;
  margin-bottom: 50px;
  

  p {
    max-width: 83%;
    font-size: 20px;
    text-align: justify;
    font-family: $secondary-font-family;
  }
}

.Core-container {
  background: linear-gradient(to bottom, $upper-color 30%, $lower-color 100%);
  padding: 40px;
  text-align: center;


  .Core-title {
    margin-bottom: 30px;
    margin-top: 50px;

    h1 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 45px;
      margin: 0;
    }
  }

  .core-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px;
  


    .core-integ,
    .core-quality,
    .core-customize,
    .core-innov,
    .core-collab {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      img {
        width: 45%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
      }

      h1 {
        font-family: $font-family;
        font-weight: bold;
        font-size: 30px;
        margin: 15px;
      }

      span {
        font-family: $font-family;
        font-size: 20px;
        text-align: center;
        color: #333;
        
      }
    }
    .core-innov {
      img{
        width: 40%;
      }
    }

    .core-integ,
    .core-quality,
    .core-customize,
    .core-innov {
      max-width: 500px;
      width: 50%;
      flex-direction: column;
    }

    .core-quality,
    .core-innov {
      margin-left: auto;
    }

    .core-customize,
    .core-innov {
      width: 50%;
    }

    .core-collab {
        width: 100%;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto; 
    }
  }
}


@media only screen and (max-width: 500px) {

  .header {
    padding-bottom: 40px;
  
    h1 {
      padding-left: 8%;
      font-size: 30px;
    }
  
    p {
      padding-left: 5%;
      font-size: 18px;
      max-width: 80%;
    }
  }

  .container-2 {
    flex-direction: column;
    padding-left: 15%;
  
    .image {
      padding-left: 15%;
  
      img {
        height: auto;
        width: 70%;
      }
    }
    
    .content {
      padding-left: 5%;

      h2 {
        font-size: 30px;
      }
  
      p {
        font-size: 20px;
        max-width: 85%;
      }
    }
  }

  .bottom-text {
    padding-left: 15%;
    max-width: 80%;
    p {
      padding-left: 5%;
      font-size: 16px;
    }
  }

  .Core-title {
    margin-bottom: 30px;
    margin-top: 50px;

    h1 {
      font-size: 30px !important;
    }
  }

  .core-content {
    flex-direction: column;


    .core-integ,
    .core-quality,
    .core-customize,
    .core-innov,
    .core-collab {
      padding-bottom: 40px;
      

      img {
        width: 100px !important;
      }

      span {
        width: 200px !important;
        margin-top: 10px;
        font-size: 20px !important;
      }
    }

    .core-integ{
      padding-left: 25%;
    }
    .core-quality,
    .core-innov {
     margin: 0 auto;
    }

    .core-customize,
    .core-innov {
      margin: 0 auto;
    }

    .core-collab {
        margin: 0 auto; 
    }

    .core-collab {
        width: 50% !important;
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {

  .header {
    padding-bottom: 40px;
  
    h1 {
      padding-left: 8%;
      font-size: 50px;
    }
  
    p {
      padding-left: 5%;
      font-size: 25px;
      max-width: 80%;
    }
  }

  .container-2 {
    flex-direction: column;
    padding-left: 15%;
  
    .image {
      padding-left: 15%;
  
      img {
        height: auto;
        width: 70%;
      }
    }
    
    .content {
      padding-left: 5%;

      h2 {
        font-size: 50px;
      }
  
      p {
        max-width: 85%;
      }
    }
  }

  .bottom-text {
    padding-left: 15%;
    max-width: 80%;
    p {
      padding-left: 5%;
    }
  }

  .core-content {
    flex-direction: column;


    .core-integ,
    .core-quality,
    .core-customize,
    .core-innov,
    .core-collab {
      padding-bottom: 40px;
      

      img {
        width: 70% !important;
      }

      span {
        width: 200% !important;
        margin-top: 10px;
      }
    }

    .core-integ{
      padding-left: 25%;
    }
    .core-quality,
    .core-innov {
     margin: 0 auto;
    }

    .core-customize,
    .core-innov {
      margin: 0 auto;
    }

    .core-collab {

        margin: 0 auto; 
    }

    .core-collab {
        width: 50% !important;
    }
  }
}




@media only screen and (min-width: 801px) and (max-width: 1100px) {


  .header {
  
    h1 {
      padding-left: 8%;
    }
  
    p {
      padding-left: 9%;
      font-size: 20px;
    }
  }

  .container-2 {
    flex-direction: column;
    padding-left: 20%;
  
    .image {
      padding-left: 6%;
  
      img {
        height: auto;
        width: 70%;
      }
    }
    
    .content {
      padding-left: 5%;
  
      p {

        max-width: 70%;
      }
    }
  }

  .bottom-text {
    padding-left: 20%;
    max-width: 62%;
    p {
      padding-left: 5%;
    }
  }

  .Core-container {
    .core-content {      
      .core-integ,
      .core-quality,
      .core-customize,
      .core-innov,
      .core-collab {
  
        img {
          width: 45%;
          height: auto;
        }
  
  
        span {
          margin: 20px;
        }
      }
  
      .core-collab {
          width: 50%;
          flex-direction: column;
          margin: 0 auto; 

          span{
            width: 130%;
          }
      
      }
    }
  }

}



@media only screen and (min-width: 1101px) and (max-width: 1400px) {

  .container-2 {
    padding-left: 5%;
  
    .image {
      padding-top: 50px;
      align-items: center;
      padding-left: 5%;
      
    }

    .content {
      padding-left: 3%;
      
      h2 {
        padding-top: 50px;
        font-size: 50px;
      }
  
      p {
        padding-left: 2%;
        max-width: 85%;
  
      }
    }
  }

  .bottom-text {
    padding-left: 5%;
    max-width: 88%;
    p {
      padding-left: 5%;
      max-width: 100%;
    }
  }

  .Core-container {
    .core-content {      
      .core-integ,
      .core-quality,
      .core-customize,
      .core-innov,
      .core-collab {
  
        img {
          width: 45%;
          height: auto;
        }
  
  
        span {
          margin: 20px;
        }
      }
      .core-innov {
        img{
          width: 40%;
        }
      }
  
      .core-collab {
          width: 50%;

          span{
            width: 130%;
          }
      
      }
    }
  }

}
