<div class = "header">
    <h1>About us</h1>
    <p>Welcome to Hafnium Systems, where we spark innovation, craft custom-made solutions, and turn aspirations into digital triumphs.</p>
  </div>


  <div class = "container-2">
    <div class = "image" >
      <img src = "../../assets/images/Hpic.png">
    </div>

    <div class="content">
        <h2>WHO WE ARE</h2>
        <p>
          At Hafnium Systems, we believe that software is the backbone of modern business operations.
          Our mission is to empower businesses of all sizes and industries by providing tailor-made
          software solutions that drive growth, efficiency, and innovation.
        </p>
        <p>
          Our team of skilled professionals is committed to delivering high-quality software that
          meets the specific needs of our clients. We are experts in a wide range of technologies,
          including custom software development, web application development, mobile app development,
          cloud computing, DevOps automation, software prototyping, quality assurance, and systems integration.
        </p>

      </div>
</div>

<div class="bottom-text">
    <p>
      We believe in a collaborative approach to software development, and we work closely with our
      clients to ensure that the final product meets their expectations. We are also committed to
      providing transparency and communication throughout the development process.
    </p>
  </div>


  <div class="Core-container">
    <div class="Core-title"> 
        <h1>OUR CORE VALUES</h1>
    </div>
    <div class="core-content">
    <div class="core-integ">
        <div class="integ-icon"><img src = "../../assets/images/INTEGRTIY (5).png"></div>
        <h1 class="integ-title">Integrity</h1>
        <span class="integ-description">We commit to unwavering integrity, setting a bar of excellence in transparency, candor, and ethical behavior throughout all our engagements.</span>
    </div>
  
    <div class="core-quality">
        <div class="quality-icon"><img src = "../../assets/images/qual.png"></div>
        <h1 class="quality-title">Quality</h1>
        <span class="quality-description">We uphold unwavering quality standards in our web-based software. Rigorous testing is integral to our commitment, ensuring error-free, high-performance, and secure solutions.</span>
    </div>
  
    <div class="core-customize">
        <div class="customize-icon"><img src = "../../assets/images/customize.png"></div>
        <h1 class="customize-title">Customization</h1>
        <span class="customize-description">We recognize that each business is unique. We tailor our solutions to the specific needs of our clients, ensuring that they get the most out of their software investment.</span>
    </div>
  
    <div class="core-innov">
        <div class="innov-icon"><img src = "../../assets/images/INTEGRTIY (1).png"></div>
        <h1 class="innov-title">Innovation</h1>
        <span class="innov-description">We are constantly pushing the boundaries of what is possible with software. We are always looking for new ways to use technology to solve our clients' problems and create new opportunities.</span>
    </div>
  
    <div class="core-collab">
        <div class="collab-icon"><img src = "../../assets/images/collab.png"></div>
        <h1 class="collab-title">Collaboration</h1>
        <span class="collab-description">We see our clients as partners. We work closely with them to understand their needs and goals, and we collaborate with them throughout the development process to ensure that the final product meets their expectations.</span>
    </div>
  </div>




  

  