<div class = "header">
  <h1>Contact Us</h1>
  <p>Let's Talk: Your Software Partner Awaits</p>
</div>

<div class="container">
  <div class="content">
    <div class="content-left">
      <div class="image-container">
        <img src="../../assets/images/companylogo.png" alt="Company Image">
      </div>
    </div>
    <div class="content-right">
      <h1>Lets start a conversation</h1>
      <p>If you are looking for a software development partner that can help you achieve your business goals, contact Hafnium Systems today. We would be happy to discuss your project requirements and provide you with a free consultation</p>
      <h1>Contact Information</h1>
      <span>Email: hafnium.system</span>
      <span>Phone: +63 917 123 4567</span>
      <span>Address: 1234 Hafnium Street</span>
    </div>
  </div>
</div>


