$font-family: 'Arial Unicode MS', sans-serif;

.overlay {
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  .overlay-content {
    position: relative;
    padding: 40px;
    padding-top: 100px;
    padding-left: 50px;
    background-color: rgb(255, 255, 255);
    height: 2000px;
    width: 190px;
    margin-top: 0;
    overflow-x: hidden;

    a {
      padding: 20px;
      text-align: center;
      font-size: 20px;
      font-family: $font-family;
      color: #000000;
      display: block;
      transition: 0.3s;
      text-decoration: none;
    }
  }
}

.toggle-menu {
  display: block;
  background-color: #0f365a;
  position: fixed;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 33px;
  padding-top: 20px;
  top: 0;
  right: 0px;
  z-index: 999;

  span {
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    display: inline-block;
    transform-origin: 50% 50%;
    position: relative;
  

    &:before {
      content: attr(data-content);;
      font-size: 35px;
      position: absolute;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  &.open span:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &.second-rotation span:before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
}

@keyframes rotateAnimation {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
  
}

@media (max-width: 800px) {
  .toggle-menu {
    display: block !important;
  }
}
