$font-family: 'HelveticaWorld', sans-serif;
$secondary-font-family: 'Arial Unicode MS', sans-serif;
$third-font-family:'Helvetica World Bold', sans-serif;
  
  .header {
    width: 100%;
    max-width: 100%;
    height: 500px;
    background-image: url('../../assets/images/title_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    align-items: flex-start;
    color: #fff; 
    
    
  h1 {
    padding-left: 65px;
    margin-top: 150px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 55px; 
    margin-bottom: 10px; 
  }
  
  p {
    padding-left: 75px;
    padding-top: 10px;
    font-family: $font-family; 
    font-weight: normal;
    font-size: 25px;
    margin-top: 0;
    max-width: 510px;
  }  
}
  

.container {
  .content {
    $background-color: #D9D9D9;
    $opacity: 0.45;
    
    text-align: center;
    background-color: rgba($background-color, $opacity);
    width: 100%;
    
    p { 
      font-family: $secondary-font-family; 
      font-weight: normal;
      font-size: 22px; 
      padding: 40px;
      border-radius: 8px;
      max-width: 70%;
      margin: 0 auto;
    }
  }
}

.container-2 {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/Untitled\ design\ \(9\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25; 
    z-index: -1; 
  }

  .image {
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
    flex: 1;

    img {
      border-radius: 20px; 
      width: 35%;
      height: auto
    }
  }
}

.additional-content {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  

  h1 {
 
    font-size: 34px;
    margin-bottom: 40px;
    font-family: $third-font-family;
    
  }

  .choose-container {

    display: flex;
    flex-wrap: wrap;
    padding-left: 220px;
    

    .choose-section,
    .choose-section-2 {
      
      flex: 1;
      margin: 0;
      padding: 50px;
      background-color: #ffffff;
      height: 200px;
      max-width: 450px;
 

      h3 {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 20px;
        font-family: $secondary-font-family;
        
      }

      p {
        font-size: 18px;
        margin-bottom: 30px;
        font-family: $secondary-font-family;
      }
    }


    .choose-section-2 {
      background-color: #D9D9D9; 
    }
  }
}

.services-container {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.4);

  .services-title {
    font-size: 23px;
    font-family: $third-font-family;
    width: 100%;
    text-align: center;
  }
}

.service-item {
  display: block;
  width: 325px;
  height: auto;
  margin: 50px;
  padding: 20px;
  padding-top: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  .service-icon {
    width: 100%;
    height: 225px;

    img {
      width: 70%;
      height: 80%;
      object-fit: cover; 

    }
  }

  .service-title {
    font-size: 21px;
    font-family: $third-font-family;
    margin-bottom: 10px;
  }

  .service-description {
    font-size: 18px;
    font-family: $font-family;
 
  }
}

.content-last {
  $upper-color: rgba(255, 255, 255, 0.8);
  $lower-color: rgba(48, 140, 206, 0.6);

  background: linear-gradient(to bottom, $upper-color 50%, $lower-color 100%);
  height: auto;
  width: 100%;

  p {
    font-family: $secondary-font-family;
    font-weight: normal;
    font-size: 22px;
    padding: 50px;
    border-radius: 8px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }

}


@media only screen and (max-width: 309px) {


  .header {
    height: auto;

  h1 {
    padding-left: 60px;
    font-size: 45px; 
  }
  
  p {
    padding-left: 65px;
    font-size: 20px;
    max-width: 510px;
  }  
}


  .container-2 {
    .image {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        border-radius: 20px; 
        width: 55%;
        height: auto;
        padding-top: 30px;
      }
    }
  }
  
  .additional-content {
    
    h1 {
   
      font-size: 34px;
      margin-bottom: 40px;
      font-family: $third-font-family;
      
    }
  
    .choose-container {
      flex-direction: column;
      padding-left: 5%;
      padding-right: 0;
      
  
      .choose-section,
      .choose-section-2 {
          
        flex: 1;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        padding-right: 10px;
        width: auto;
        height: auto;
        max-width: 200px;
        padding-bottom: 280px;
        background-color: #ffffff;
      }
  
      .choose-column {
        .choose-section-2{
          background-color: #D9D9D9;
        }
      }
      .choose-column-2{
        .choose-section{
          background-color: #D9D9D9;
        }
      }
    }
  }


}


@media only screen and (min-width: 310px) and (max-width: 499px) {


  .header {
    height: 570px;

  h1 {
    padding-left: 60px;
    font-size: 45px; 
  }
  
  p {
    padding-left: 65px;
    font-size: 20px;
  }  
}


  .container-2 {
    .image {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        border-radius: 20px; 
        width: 55%;
        height: auto;
        padding-top: 30px;
      }
    }
  }
  
  .additional-content {
    
    h1 {
   
      font-size: 34px;
      margin-bottom: 40px;
      font-family: $third-font-family;
      
    }
  
    .choose-container {
      flex-direction: column;
      padding-left: 0%;
      padding-right: 0%;
      
  
      .choose-section,
      .choose-section-2 {
          
        flex: 1;
        margin: 0;
        padding: 50px;;
        height: 200px;
        max-width: 450px;
        padding-bottom: 280px;
        background-color: #ffffff;
      }
  
      .choose-column {
        .choose-section-2{
          background-color: #D9D9D9;
        }
      }
      .choose-column-2{
        .choose-section{
          background-color: #D9D9D9;
        }
      }
    }
  }

}

@media only screen and (min-width: 500px) and (max-width: 600px) {


  .header {
    height: 550px;

  h1 {
    padding-left: 50px;
    font-size: 50px; 
  }
  
  p {
    padding-left: 65px;
    font-size: 20px;
  }  
}


  .container-2 {
    .image {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        border-radius: 20px; 
        width: 55%;
        height: auto;
        padding-top: 30px;
      }
    }
  }
  
  .additional-content {
    
    h1 {
   
      font-size: 34px;
      margin-bottom: 40px;
      font-family: $third-font-family;
      
    }
  
    .choose-container {
      flex-direction: column;
      padding-left: 16%;
      padding-right: 10%;
      
  
      .choose-section,
      .choose-section-2 {
          
        flex: 1;
        margin: 0;
        padding: 50px;;
        height: 200px;
        max-width: 450px;
        padding-bottom: 160px;
        background-color: #ffffff;
      }
  
      .choose-column {
        .choose-section-2{
          background-color: #D9D9D9;
        }
      }
      .choose-column-2{
        .choose-section{
          background-color: #D9D9D9;
        }
      }
    }
  }

}


@media only screen and (min-width: 601px) and (max-width: 800px) {

  .container-2 {
    .image {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        border-radius: 20px; 
        width: 55%;
        height: auto;
        padding-top: 30px;
      }
    }
  }
  
  .additional-content {
    
    h1 {
   
      font-size: 34px;
      margin-bottom: 40px;
      font-family: $third-font-family;
      
    }
  
    .choose-container {
      flex-direction: column;
      padding-left: 16%;
      padding-right: 10%;
     
      
  
      .choose-section,
      .choose-section-2 {
          
        flex: 1;
        margin: 0;
        padding: 50px;;
        height: 200px;
        max-width: 450px;
        padding-bottom: 80px;
        background-color: #ffffff;
      }
  
      .choose-column {
        .choose-section-2{
          background-color: #D9D9D9;
        }
      }
      .choose-column-2{
        .choose-section{
          background-color: #D9D9D9;
        }
      }
    }
  }

}

@media only screen and (min-width: 801px) and (max-width: 1000px) {


.container-2 {
  .image {
    padding: 40px;
    display: flex;
    justify-content: space-between;

    img {
      border-radius: 20px; 
      width: 45%;
      height: auto;
    }
  }
}

.additional-content {
  
  h1 {
 
    font-size: 34px;
    margin-bottom: 40px;
    font-family: $third-font-family;
    
  }

  .choose-container {
    flex-direction: column;
    padding-left: 18%;
    padding-right: 12%;
    

    .choose-section,
    .choose-section-2 {
        
      flex: 1;
      margin: 0;
      padding: 50px;;
      height: 200px;
      max-width: 450px;
      background-color: #ffffff;
    }

    .choose-column {
      .choose-section-2{
        background-color: #D9D9D9;
      }
    }
    .choose-column-2{
      .choose-section{
        background-color: #D9D9D9;
      }
    }
  }
}

}



@media only screen and (min-width: 1001px) and (max-width: 1200px) {


  .container-2 {
    .image {
      padding: 40px;
      display: flex;
      justify-content: space-evenly;
  
      img {
        border-radius: 20px; 
        width: 45%;
        height: auto;
      }
    }
  }
  
  .additional-content {
    
    h1 {
   
      font-size: 34px;
      margin-bottom: 40px;
      font-family: $third-font-family;
      
    }
  
    .choose-container {
      flex-direction: column;
      padding-left: 25%;
      
  
      .choose-section,
      .choose-section-2 {
          
        flex: 1;
        margin: 0;
        padding: 50px;;
        height: 200px;
        max-width: 450px;
        background-color: #ffffff;
      }
  
      .choose-column {
        .choose-section-2{
          background-color: #D9D9D9;
        }
      }
      .choose-column-2{
        .choose-section{
          background-color: #D9D9D9;
        }
      }
    }
  }
  
  }


  @media only screen and (min-width: 1201px) and (max-width: 1400px) {


    .container-2 {
      .image {
        padding: 40px;
        display: flex;
        justify-content: space-evenly;
    
        img {
          border-radius: 20px; 
          width: 40%;
          height: auto;
        }
      }
    }
    
    .additional-content {
      
      h1 {
     
        font-size: 34px;
        margin-bottom: 40px;
        font-family: $third-font-family;
        
      }
    
      .choose-container {
        flex-direction: column;
        padding-left: 30%;
        
    
        .choose-section,
        .choose-section-2 {
            
          flex: 1;
          margin: 0;
          padding: 50px;;
          height: 200px;
          max-width: 450px;
          background-color: #ffffff;
        }
    
        .choose-column {
          .choose-section-2{
            background-color: #D9D9D9;
          }
        }
        .choose-column-2{
          .choose-section{
            background-color: #D9D9D9;
          }
        }
      }
    }
  }





